* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    flex-direction: column;
}

.logo {
    width: auto;
    height: 150px;
 border-radius: 10px;
 margin: 10px 0px 0px 20px
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #e45c0e;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover {
    opacity: 0.8;
}

h1 {
    color: white;
    text-align: center;
    font-size: 25px;
}

img {
    width: 100%;
    border-radius: 50px;
}

li {
    border: 2px solid #4E593D;
    border-radius: 5px;
    padding: 5px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 30px;
    justify-content: center;
}

p {
    color: white;
}

.menu-price {
    font-weight: bold;
    color: #e45c0e;
}

@media screen and (max-width:750px) {

    ul {
        grid-template-columns: 116px 116px 116px;
        gap: 10px
    }

    .text {
        font-size: 10px;
        margin: 15px;
    }

    button {
        padding: 8px;
        width: 90px;
        font-size: 15px;
    }

    .container-buttons {
        gap: 5px;
        margin: 30px 0px;
    }

    .logo {
        width: auto;
        height: 150px;
     border-radius: 10px;
     margin: 10px 0px 0px 47px
    }
}